[submodule "open62541"]
	path = open62541
	url = https://github.com/open62541/open62541.git
[submodule "accesstsn_demoapps_common"]
	path = accesstsn_demoapps_common
	url = ../AccessTSN_Industrial_Use_Case_Demo_Common.git